@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
    margin: 0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: $bg-all-screen;
}
