// Primary colors
$bg-all-screen: #9bd3eb;
$bg-color-header: #5cbfd7; //bg-color for button/header
$color-hover-button: #4998ac;
$bg-color-white: #ffff; ////bg-color for countdown&signUp&singIn
$text-color-primary: #EA3353; /* primary text color*/
$text-color: #000000; //text-color

// screen size
$desktop-breakpoint: 80rem;    // 1280px
$tablet-breakpoint: 48rem;     // 768px