@use "../../styles/partials/typography" as *;
@use "../../styles/partials//mixins" as *;
@use "../../styles/partials/variables" as *;



.button{
    margin: 1rem 0rem;
    padding: 0.8rem;
    background-color: $bg-color-header;
    width: 100%;
    max-width: 12.5rem;
    border: none;
    border-radius: 20px;
    @include font-stack-section-header;
    letter-spacing: 0.15rem;
    @include tablet {
        @include font-stack-section-header-tablet;
        
        width: 50%;
        max-width: 13.4rem;
    }
    @include desktop {
        &:hover {
            background-color: $color-hover-button;
        }
    }
}