@use "../../styles/partials/typography" as *;
@use "../../styles/partials//mixins" as *;
@use "../../styles/partials/variables" as *;


.header {
    width: 100%;
    background-color:  $bg-color-header;
    box-shadow: 0px 0px 15px 10px  $bg-color-header;
    padding: 1rem 1rem 1rem 10%;
    @include flex(space-between, center, row, nowrap);
    @include tablet {
        padding: 1rem 2.25rem 1rem 20%;
    }
    @include desktop {
        padding: 1rem 2.5rem 1rem 30%;
    }

    &__link {
        width: 70%;
    }

    &__logo{
        text-align: center;
        letter-spacing: 0.15rem;
        @include font-stack-page-header-mobile;
        @include tablet {
            text-align: center;
            letter-spacing: 0.4rem;
            @include font-stack-page-header-tablet-desktop;
        }
    }

    &__icon-container{
        width: 30%;
        @include flex(flex-end, center, row, nowrap);
    }

    &__home-icon,
    &__login-icon {
        width: 2.25rem;
        height: 2.25rem;
        object-fit: cover;
        @include tablet{
            width: 4rem;
            height: 3.5rem;
        }
    }
}
